<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
     <script src="/js/jquery-1.11.1.js"></script>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css/validationEngine.jquery.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/additional-methods.js"></script>
    <script src="/js/additional-methods.min.js"></script>
    <script src="/js/additional/accept.js"></script>
    <script src="/js/additional/additional.js"></script>
    <script src="/js/additional/alphanumeric.js"></script>
    <script src="/js/additional/bankaccountNL.js"></script>
    <script src="/js/additional/bankorgiroaccountNL.js"></script>
    <script src="/js/additional/bic.js"></script>
    <script src="/js/additional/cifES.js"></script>
    <script src="/js/additional/cpfBR.js"></script>
    <script src="/js/additional/creditcard.js"></script>
    <script src="/js/additional/creditcardtypes.js"></script>
    <script src="/js/additional/currency.js"></script>
    <script src="/js/additional/dateFA.js"></script>
    <script src="/js/additional/dateITA.js"></script>
    <script src="/js/additional/dateNL.js"></script>
    <script src="/js/additional/extension.js"></script>
    <script src="/js/additional/giroaccountNL.js"></script>
    <script src="/js/additional/iban.js"></script>
    <script src="/js/additional/integer.js"></script>
    <script src="/js/additional/ipv4.js"></script>
    <script src="/js/additional/ipv6.js"></script>
    <script src="/js/additional/lettersonly.js"></script>
    <script src="/js/additional/letterswithbasicpunc.js"></script>
    <script src="/js/additional/mobileNL.js"></script>
    <script src="/js/additional/mobileUK.js"></script>
    <script src="/js/additional/nieES.js"></script>
    <script src="/js/additional/nifES.js"></script>
    <script src="/js/additional/notEqualTo.js"></script>
    <script src="/js/additional/nowhitespace.js"></script>
    <script src="/js/additional/pattern.js"></script>
    <script src="/js/additional/phoneNL.js"></script>
    <script src="/js/additional/phoneUK.js"></script>
    <script src="/js/additional/phoneUS.js"></script>
    <script src="/js/additional/phonesUK.js"></script>
    <script src="/js/additional/postalCodeCA.js"></script>
    <script src="/js/additional/postalcodeBR.js"></script>
    <script src="/js/additional/postalcodeIT.js"></script>
    <script src="/js/additional/postalcodeNL.js"></script>
    <script src="/js/additional/postcodeUK.js"></script>
    <script src="/js/additional/require_from_group.js"></script>
    <script src="/js/additional/skip_or_fill_minimum.js"></script>
    <script src="/js/additional/statesUS.js"></script>
    <script src="/js/additional/strippedminlength.js"></script>
    <script src="/js/additional/time.js"></script>
    <script src="/js/additional/time12h.js"></script>
    <script src="/js/additional/url2.js"></script>
    <script src="/js/additional/vinUS.js"></script>
    <script src="/js/additional/zipcodeUS.js"></script>
    <script src="/js/additional/ziprange.js"></script>
    <script src="/js/ajax.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/core.js"></script>
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/js/jquery-1.7.2.js"></script>
    <script src="/js/jquery-1.8.3.js"></script>
    <script src="/js/jquery-1.9.1.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.mockjax.js"></script>
    <script src="/js/jquery.simulate.js"></script>
    <script src="/js/jquery.validate.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/localization/messages_ar.js"></script>
    <script src="/js/localization/messages_bg.js"></script>
    <script src="/js/localization/messages_bn_BD.js"></script>
    <script src="/js/localization/messages_ca.js"></script>
    <script src="/js/localization/messages_cs.js"></script>
    <script src="/js/localization/messages_da.js"></script>
    <script src="/js/localization/messages_de.js"></script>
    <script src="/js/localization/messages_el.js"></script>
    <script src="/js/localization/messages_es.js"></script>
    <script src="/js/localization/messages_es_AR.js"></script>
    <script src="/js/localization/messages_es_PE.js"></script>
    <script src="/js/localization/messages_et.js"></script>
    <script src="/js/localization/messages_eu.js"></script>
    <script src="/js/localization/messages_fa.js"></script>
    <script src="/js/localization/messages_fi.js"></script>
    <script src="/js/localization/messages_fr.js"></script>
    <script src="/js/localization/messages_ge.js"></script>
    <script src="/js/localization/messages_gl.js"></script>
    <script src="/js/localization/messages_he.js"></script>
    <script src="/js/localization/messages_hr.js"></script>
    <script src="/js/localization/messages_hu.js"></script>
    <script src="/js/localization/messages_hy_AM.js"></script>
    <script src="/js/localization/messages_id.js"></script>
    <script src="/js/localization/messages_is.js"></script>
    <script src="/js/localization/messages_it.js"></script>
    <script src="/js/localization/messages_ja.js"></script>
    <script src="/js/localization/messages_ka.js"></script>
    <script src="/js/localization/messages_kk.js"></script>
    <script src="/js/localization/messages_ko.js"></script>
    <script src="/js/localization/messages_lt.js"></script>
    <script src="/js/localization/messages_lv.js"></script>
    <script src="/js/localization/messages_mk.js"></script>
    <script src="/js/localization/messages_my.js"></script>
    <script src="/js/localization/messages_nl.js"></script>
    <script src="/js/localization/messages_no.js"></script>
    <script src="/js/localization/messages_pl.js"></script>
    <script src="/js/localization/messages_pt_BR.js"></script>
    <script src="/js/localization/messages_pt_PT.js"></script>
    <script src="/js/localization/messages_ro.js"></script>
    <script src="/js/localization/messages_ru.js"></script>
    <script src="/js/localization/messages_si.js"></script>
    <script src="/js/localization/messages_sk.js"></script>
    <script src="/js/localization/messages_sl.js"></script>
    <script src="/js/localization/messages_sr.js"></script>
    <script src="/js/localization/messages_sr_lat.js"></script>
    <script src="/js/localization/messages_sv.js"></script>
    <script src="/js/localization/messages_th.js"></script>
    <script src="/js/localization/messages_tj.js"></script>
    <script src="/js/localization/messages_tr.js"></script>
    <script src="/js/localization/messages_uk.js"></script>
    <script src="/js/localization/messages_vi.js"></script>
    <script src="/js/localization/messages_zh.js"></script>
    <script src="/js/localization/messages_zh_TW.js"></script>
    <script src="/js/localization/methods_de.js"></script>
    <script src="/js/localization/methods_es_CL.js"></script>
    <script src="/js/localization/methods_fi.js"></script>
    <script src="/js/localization/methods_nl.js"></script>
    <script src="/js/localization/methods_pt.js"></script>
    <script src="/js/require.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
