<H1><%= title %></H1>
 
<form action="/user/create" method="get" id="commentForm" accept-charset="utf-8" style="width:50%; padding:20px;">
	<div class="form-group">
		<label for="exampleInputEmail1">Name</label>
		<input class="form-control" type="text" name="name" value="" placeholder="" required>
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1">Email</label>
		<input class="form-control" type="email" name="email" value="" placeholder="" required>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Password</label>
		<input class="validate[required,length[6,20]] form-control" id="yourpassword" type="password" name="password" value="" placeholder="" >
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Confirm Password</label>
		<input class="validate[required,confirm[yourpassword]] form-control " type="password" name="c-password" value="" placeholder="" >
	</div>

	<input type="submit" class="btn" name="" value="submit">

</form>

 

	<% _.each(users,function (user) { %> 

		<div><%= user.name %></div><br>

	<% }); %>
